* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.rc_app {
  max-width: 600px;
  border: 1px solid #808080;
  padding: 40px;
  margin: 20px;
}

.rc_dataForm {
  display: block;
  margin-bottom: 20px;

  .rc_dataInput {
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.rc_radioButtons {
  margin-top: 20px;

  .rc_radioButtons_item {
    list-style-type: none;
    margin: 10px 20px;

    label {
      display: inline-block;
    }

    input {
      margin: 5px;
    }
  }
}








